{% extends 'layout.html' %}
	<!-- CONTENT -->
	<div id="content">
		<section>
			{% block head %}
	<header>
		<div class="singular-headline">
							<div class="row">
		<div class="large-12 columns">
							<h1>Add Service Details</h1>
					</div>
	</div>					</div>
	</header>
	{% endblock head %}
	<div class="singular-row row">
	{% block body %}
		
		<main id="main" class="large-9 medium-8 columns" role="main">
			<div id="post-6" class="post-6 page type-page status-publish hentry">
				<div id="overview" class="single-content white-con step">
					<div class="post-info">
						<form id="edit-service" class="edit-service" enctype="multipart/form-data" method="post">
							{{ form.hidden_tag() }}
							{% from 'includes/_formhelpers.html' import render_field  %}
							<fieldset id="essential-fields">
								<div class="form-field">
									{{ render_field(form.title, class_="required") }}
								</div>
								<div class="form-field">
									{{ render_field(form.d_u_d, class_="required digits") }}
								</div>

								<div class="form-field">
									{{ render_field(form.price, class_="required") }}
								</div>

								<div class="form-field">
									{{ render_field(form.description, class_="required") }}
								</div>
							</fieldset>

							<fieldset id="category-fields">
								<div class="form-field">
									<label>
										Categories<span class="required"> *</span>
									</label>
									<div class='frame'>
										<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
											{% for i in categories.keys() %}
												<li>
													<label class="selectit">
													{% if i in category %}
													<input type="checkbox" checked class="required" value="{{i}}" name="header">{{i}}</label>
													{% else %}
													<input type="checkbox" class="required" value="{{i}}" name="header">{{i}}</label>
													{% endif %}
													<ul class="children">
														{% for j in categories[i] %}
														<li><label class="selectit">
															{% if j in sub_category %}
															<input type="checkbox" class="required" checked value="{{j}}" name="subheader" />{{j}}</label>
															{% else %}
															<input type="checkbox" class="required" value="{{j}}" name="subheader" />{{j}}</label>
															{% endif %}
														</li>
														{% endfor %}
													</ul>
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</fieldset>

							<fieldset id="misc-fields">
								<div id="images-manager" class="media-manager media-manager images-manager">
									{{ render_field(form.images, class_="media-attachments media") }}
								</div>
							</fieldset>

							<fieldset>
								<div class="form-field">
									<button class="button large success" type="submit">Submit</button>
								</div>
							</fieldset>
						</form>											
					</div>
				</div>
			</div>
		</main>
		{% endblock body %}
		{% block side %}
<div id="sidebar" class="large-3 medium-4 columns" role="complementary">

<div class="row">
	<aside id="appthemes_recent_posts-3" class="widget large-12 columns widget-recent-posts">
		<h1 class="widgettitle">Recent Services</h1>
			<ul>
				{% for recent in recent_tasks[::-1] %}
				<li class="recent-box post-96 service type-service status-publish has-post-thumbnail hentry service_cat-css-html service_cat-databases service_cat-javascript service_cat-joomla-drupal service_cat-php service_cat-programming-tech service_cat-wordpress-programming-tech service_tag-ajax service_tag-css service_tag-html service_tag-javascript-2 service_tag-jquery service_tag-mysql service_tag-php service_tag-web-development">

					<div class="recent-box-thumb left">
						<a href="{{ url_for('task.view_service', service_id=recent.id) }}" title="{{ recent.title }}" >
							<img width="60" height="60" src="../static/img/tasks/normal/{{recent.image_name[0]}}" class="attachment-recent-posts-widget size-recent-posts-widget wp-post-image" alt="" loading="lazy" />				
						</a>
						<div class="recent-stars">
							<span class="stars stars-0">
								<i class="genericon genericon-star bad-star"></i><i class="genericon genericon-star bad-star"></i><i class="genericon genericon-star bad-star"></i><i class="genericon genericon-star bad-star"></i><i class="genericon genericon-star bad-star"></i>	</span>
						</div>
					
					</div><!-- end recent-box-thumb -->
					<div class="recent-box-content">
						<h2 class="recent-box-title">
							<a href="{{ url_for('task.view_service', service_id=recent.id) }}" title="{{ recent.title }}" rel="bookmark">
								{{recent.title}}</a>
						</h2>	
						<span class="recent-post-date clearfix">
							by&nbsp;<a href="{{ url_for('task.view_all_service', user_id=recent.user_tasks_owned.id) }}" title="{{ recent.user_tasks_owned.username }}">{{recent.user_tasks_owned.username}} <span class="author-posts-qty"><em class="separator">(</em>{{ recent.user_tasks_owned.tasks_owned | length }}<em class="separator">)</em></span></a>
						</span>
					</div>
				</li><!-- end recent-box -->				
				{% endfor %}
			</ul>
	</aside>
</div>
<div class="row">
	<aside id="tr_taxonomy_list-5" class="widget large-12 columns widget-taxonomy-list">
		<h1 class="widgettitle">Categories</h1>
			<a href="#" class="cat-down button"><i class="genericon genericon-expand"></i><span>Expand/Collapse</span></a>
			<div class="catcol">
				<ul class="maincat-list small-block-grid-1 medium-block-grid-1 large-block-grid-1">
				{% for heading in categories.keys() %}
					<li class="maincat cat-item-24">
						<a href="{{url_for('main.parent_category', parent_category = heading)}}" title="{{ heading }}" title="">{{ heading }}</a>
					</li>
				{% endfor %}
				</ul>
			</div>
			<!-- /catcol -->
	</aside>
</div>
<div class="row">
	<aside id="tr_125_ads-4" class="widget large-12 columns widget-125-ads">
		<h1 class="widgettitle">Sponsored Ads</h1>
		<ul class="ads">
			<li class="white-con"><a href="#" rel="nofollow" target="_self">
				<img src="../static/img/itechfor.png" width="125" height="125" alt="ITechFor" /></a>
			</li> 
			<li class="white-con">
				<a href="#" rel="nofollow" target="_self"><img src="../static/img/itechfor.png" width="125" height="125" alt="ITechFor" /></a>
			</li> 
			<li class="white-con">
				<a href="#" rel="nofollow" target="_self"><img src="../static/img/itechfor.png" width="125" height="125" alt="ITechFor" /></a>
			</li> 
			<li class="white-con">
				<a href="#" rel="nofollow" target="_self"><img src="../static/img/itechfor.png" width="125" height="125" alt="ITechFor" /></a>
			</li> 
		</ul>
	</aside>
</div>
</div><!-- end #sidebar -->
{% endblock side %}