{% extends 'layout.html' %}
{% block body %}
<div class="archive-row row">
	<main id="main" class="large-9 medium-8 columns" role="main">
		<section id="projects" class="service-section">
			<header class="archive-headline row">
				<div class="archive-title large-7 medium-6  columns">
					<h1>Dashboard&nbsp;({{ current_user.tasks_owned | length }})</h1>
				</div>
				<div class="archive-sorting large-5 medium-6 columns">
				</div>
			</header>
			{% for task in current_user.tasks_owned %}
			<article id="{{task.id}}" class="loop-content post-92 service type-service status-publish has-post-thumbnail hentry service_cat-copywriting service_cat-writing-translation service_tag-copywriting">
				<div class="row collapse">
					<div class="post-main large-10 medium-10 columns white-con">
						<div class="post-info">
							<div class="row collapse stat-line" data-equalizer>
								<div class="large-4 small-12 columns" data-equalizer-watch>
									<p>
										<span>Pending Tasks</span>:
										<span>0</span>
									</p>
									<p>
										<span>Completed Tasks</span>:
										<span>{{ task.times_completed }}</span>
									</p>
								</div>
								<div class="separator" data-equalizer-watch></div>
								<div class="large-3 small-12 columns" data-equalizer-watch>
									<p>
										<strong>Rating</strong>
										<strong>()</strong>
										<br class="hide-for-small-only"/>
										<span class="stars stars-0">
											<i class="genericon genericon-star good-star"></i><i class="genericon genericon-star bad-star"></i><i class="genericon genericon-star bad-star"></i><i class="genericon genericon-star bad-star"></i><i class="genericon genericon-star bad-star"></i>	
										</span>
									</p>
								</div>
								<div class="separator" data-equalizer-watch></div>
								<div class="large-3 end small-12 columns" data-equalizer-watch>
									<p>
										<strong>
											0 Reviews							
										</strong>
										<br class="hide-for-small-only"/>
										<a href="{{ url_for('task.view_service', service_id=task.id) }}">View reviews</a>
									</p>
								</div>
							</div><!-- end row -->

							<div class="features row">

								<header>
									<h1><a href="{{ url_for('task.view_service', service_id=task.id) }}" title="{{ task.title }}">
									<span class="featured">
										{{ task.title }}						
									</span>
									</a></h1>
								</header>
								<div class="service-description">
									<p>{{task.description | truncate(400)}}</p>
								</div>
					
							</div>
						</div>
						<!-- service meta author-->
						<div class="ft-bar row">
							<div class="post-meta service-category large-6 medium-6 small-12 columns left">
								<i class="genericon genericon-category"></i>
								Category:	
								{% for category in task.task_category %}
									{% if category != task.task_category[0] %}
										<em class="separator"> ,</em>
									{% endif %}
									<a href="{{url_for('main.parent_category', parent_category=category.name)}}">{{category.name}}</a>
								{% endfor %}
								{% for subcategory in task.task_sub_category %}
									{% if task.task_category != [] or subcategory != task.task_sub_category[0] %}
										<em class="separator"> ,</em>
									{% endif %}
									<a href="{{url_for('main.child_category', child_category=subcategory.name)}}">{{subcategory.name}}</a>
								{% endfor %}
							</div>
						</div>
					</div><!-- end 10-columns -->
					<div class="btn-bar large-2 medium-2 columns">
						<div class="price"><span>₦</span>{{task.price}}</div>
							<a href="services/edit/92/92.html" class="button success">
								<span>Edit</span>
							</a>
							<a href="dashboard/dashboard_7.html" class="button alert delete-service">
								<span>Delete</span>
							</a>
					</div>
				</div><!-- end row -->
			</article>
			{% endfor %}
		
					<!-- pagination -->
		<div class="row">
			<div class="pagination-centered">
							</div>
		</div>
		<!-- /pagination -->
			
			
		</section><!-- end #projects -->

		
		
		
	</main><!-- end #main -->

	<div id="sidebar" class="large-3 medium-4 columns dashboard-side" role="complementary">

		<div class="row">
	<div id="tr_account_bage" class="widget static-widget widget-account-bage large-12 columns">
		<div class="clearfix">
			<div class="medium-text-center user-avatar">
				<img alt='' src='https://secure.gravatar.com/avatar/1272959116d5e4ed40d51708d236825f?s=200&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/1272959116d5e4ed40d51708d236825f?s=400&#038;d=mm&#038;r=g 2x' class='avatar avatar-200 photo' height='200' width='200' loading='lazy'/>			</div>

			<h3>
				Welcome,
				AppThemes			</h3>

			<p>Manage your services or edit your profile from your personalized dashboard.</p>

			<div class="row collapse" data-equalizer>
				<div class="small-6 columns edit-profile">
					<a class="button alert" href="edit-profile/edit-profile.html" data-equalizer-watch>
						Edit profile					</a>
				</div>
				<div class="small-6 columns add-service">
					<a class="button secondary" href="add-service.html" data-equalizer-watch>
						Add a service					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div id="tr_dashboard_links" class="widget static-widget widget-dashboard-links large-12 columns">
		<div class="clearfix">
			<ul>
				<li class="page_item page-item-7 page_item_has_children current_page_item"><a href="dashboard.html" aria-current="page">Dashboard</a>
<ul class='children'>
	<li class="page_item page-item-11"><a href="favorites.html">Favorites</a></li>
	<li class="page_item page-item-12"><a href="dashboard/notifications/page/1/notifications.html">Notifications</a></li>
	<li class="page_item page-item-8"><a href="purchased.html">Purchased</a></li>
	<li class="page_item page-item-10"><a href="reviews.html">Reviews</a></li>
	<li class="page_item page-item-9"><a href="tasks.html">Tasks</a></li>
</ul>
</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<aside id="tr_account_stats" class="widget static-widget widget-account-stats large-12 columns">
		<header>
			<h1>
				Statistics			</h1>
		</header>
		<div class="clearfix">
			<ul>
				<li>
					<span class="left">Rating</span>
					<strong class="right">90%</strong>
				</li>
				<li>
					<span class="left">Current Tasks</span>
					<strong class="right">1</strong>
				</li>
				<li>
					<span class="left">Tasks completed</span>
					<strong class="right">1</strong>
				</li>
				<li>
					<span class="left">Services purchased</span>
					<strong class="right">3</strong>
				</li>
				<li>
					<span class="left">Total earnings</span>
					<strong class="right">&#36;28.00</strong>
				</li>
				<li>
					<span class="left">Reviews received</span>
					<strong class="right">2</strong>
				</li>
				<li>
					<span class="left">Reviews made</span>
					<strong class="right">2</strong>
				</li>
			</ul>
		</div>
	</aside>
</div>

<div class="row">
	<aside id="tr_account_info" class="widget static-widget widget-account-info large-12 columns">
		<header>
			<h1>
				Account Info			</h1>
		</header>
		<div class="clearfix">
										<ul>
									<li>
						<a href="https://facebook.com/" title="Facebook">
							<i class="genericon genericon-facebook"></i>
							<span>
								appthemes							</span>
						</a>
					</li>
									<li>
						<a href="https://twitter.com/" title="Twitter">
							<i class="genericon genericon-twitter"></i>
							<span>
								@appthemes							</span>
						</a>
					</li>
													<li>
						<a href="../www_appthemes_default_2.html" title="Website">
							<i class="genericon genericon-link"></i>
							<span>www.appthemes.com</span>
						</a>
					</li>
								</ul>
					</div>
	</aside>
</div>


	</div>

</div><!-- end row -->	</div><!-- /CONTENT -->

{% endblock body %}