{% extends 'layout.html' %}
	<!-- CONTENT -->
<div id="content">
	<section>
	{% block head %}
	<header>
		<div class="singular-headline">
			<div class="row">
				<div class="large-12 columns">
					<h1>Edit Profile</h1>
				</div>
			</div>
		</div>
	</header>
	{% endblock head %}
	<div class="singular-row row">
		{% block body %}
		<main id="main" class="large-9 medium-8 columns" role="main">
			<div id="post-5" class="post-5 page type-page status-publish hentry">
				<div id="overview" class="single-content white-con">
					<div class="post-info">
						<form id="login-form" method="post" action="{{url_for('users.userprofile', form_type='profile')}}">
							{{ form.hidden_tag() }}
							{% from 'includes/_formhelpers.html' import render_field  %}
							<fieldset>
								<div class="form-field">
										<label>Username: <input type="text" name="log" class="text regular-text required" tabindex="2" id="login_username" value="{{ current_user.username }}" disabled /></label>

								</div>
								<div class="form-field">
										{{ render_field(form.firstname, class_="text regular-text required", tabindex = "2")}}
								</div>
								<div class="form-field">
										{{ render_field(form.lastname, class_="text regular-text required", tabindex = "2")}}
								</div>
								<div class="form-field">
									{{ render_field(form.email, class_="text regular-text required", tabindex = "2")}}
								</div>
								<div class="form-field">
									{{ render_field(form.phone, class_="text regular-text required", tabindex = "2")}}
								</div>
								<div class="form-field">
									{{ render_field(form.campus, class_="text regular-text required", tabindex = "2")}}
								</div>
								<div class="form-field">
									<input type="submit" value="Update Profile">
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<br>
			<div id="post-5" class="post-5 page type-page status-publish hentry">
				<div id="overview" class="single-content white-con">
					<div class="post-info">
						<header>
							<div class="singular-headline">
								<div class="row">
									<div class="large-12 columns">
										<h1>Change Password</h1>
									</div>
								</div>
							</div>
						</header><br>
						<form id="login-form" method="post" action="{{url_for('users.userprofile', form_type='password')}}">
							{{ password_form.hidden_tag() }}
							{% from 'includes/_formhelpers.html' import render_field  %}
							<fieldset>
								<div class="form-field">
										{{ render_field(password_form.oldpassword, class_="text regular-text required", tabindex = "2")}}
								</div>
								<div class="form-field">
										{{ render_field(password_form.newpassword, class_="text regular-text required", tabindex = "2")}}
								</div>
								<div class="form-field">
										{{ render_field(password_form.confirm, class_="text regular-text required", tabindex = "2")}}
								</div>
								<div class="form-field">
									<input type="submit" value="Change Password">
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</main>	
	{% endblock body %}		
	</div>
	</section>
</div><!-- end row -->