{% extends 'layout.html' %}
{% block widget %}
<!-- WIDGETIZED AREA -->
<div id="top-widgets" role="complementary">
	<!-- widgetized area below navbar -->
	<aside class="top-widget">
		<div id="top_text-7" class="top-widget_text">
			<div class="row">
				<div class="large-12 centered columns">
					<div id="text-7" class="widget widget_text">			
						<div class="textwidget">
							<div class="home-head row">
								<h2>Get your <strong>Micro Jobs</strong> done in minutes</h2>
								<p>Ever feel like you have too much work on your plate? You can easily search and find a freelancer who can get your micro jobs done in good quality and as fast possible!</p>
								<a class="button large alert" href="{{url_for('users.user_dashboard')}}">Get started</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<aside class="top-widget">
		<div id="top_tr_taxonomy_list-6" class="top-widget-taxonomy-list">
			<div class="row">
				<div class="large-12 centered columns">
					<div id="tr_taxonomy_list-6" class="widget widget-taxonomy-list">
						<a href="#" class="cat-down button"><i class="genericon genericon-expand"></i><span>Expand/Collapse</span></a>
							<div class="catcol">
								<ul class="maincat-list small-block-grid-2 medium-block-grid-1 large-block-grid-4">
									{% for heading in categories.keys() %}
									<li class="maincat cat-item-23"><a href="{{url_for('main.parent_category', parent_category = heading)}}" title="{{ heading }}">{{ heading }}</a>
										<ul class="subcat-list">
											{% for sub_heading in categories[heading] %}
											<li class="cat-item cat-item-104"><a href="{{url_for('main.child_category',child_category = sub_heading)}}" title="{{sub_heading}}">{{ sub_heading }}</a></li>
											{% endfor %}
										</ul>
									</li>
									{% endfor %}
								</ul>
							</div><!-- /catcol -->
					</div>
				</div>
			</div>
		</div>
	</aside>	
</div><!-- /WIDGETIZED AREA -->
{% endblock widget %}

{% block body %}
<main id="main" class="large-9 medium-8 columns" role="main">
	<section id="services">
		<!-- services -->
		<header class="archive-headline row">
		<div class="archive-title large-6 medium-5  columns">
			<h1>Latest Services</h1>
		</div>
		<!-- <div class="archive-sorting large-4 medium-5 left columns">
			<a href="#" data-dropdown="sort_by" class="button expand dropdown">Sort By</a><br />
			<ul id="sort_by" class="f-dropdown">
				<li><a href="taskerr/taskerr_2.html" title="Order by Date" id="sorting-date" rel="nofollow" class="sorting-link">Date<span class="sorting-order-desc">&nbsp;&darr;</span></a></li>
				<li><a href="taskerr/taskerr_3.html" title="Order by Rating" id="sorting-rating" rel="nofollow" class="sorting-link">Rating<span class="sorting-order-desc">&nbsp;&darr;</span></a></li>
				<li><a href="taskerr/taskerr_4.html" title="Order by Price" id="sorting-price" rel="nofollow" class="sorting-link">Price<span class="sorting-order-desc">&nbsp;&darr;</span></a></li>
			</ul>
			</div> -->
		</header>

	<article id="post-17" class="loop-content sticky post-17 service type-service status-publish has-post-thumbnail hentry service_cat-logo-design service_tag-design service_tag-graphics service_tag-logos">
	<div class="row collapse">

		<div class="post-main large-10 medium-10 columns white-con">
			<div class="features row">

				<div class="person large-3 medium-3 columns">
						<a class="service-thumbnail" href="taskerr/i-can-create-2-custom-logo-designs-for-your-business.html" title="I can create 2 CUSTOM logo designs for your business">
		<img width="180" height="180" src="taskerr/files/2014/06/Home_Fresh_Organic_Concept_1_by_shakilnali-180x180.jpg" class="attachment-service-thumbnail size-service-thumbnail wp-post-image" alt="" loading="lazy" srcset="https://demos.appthemes.com/taskerr/files/2014/06/Home_Fresh_Organic_Concept_1_by_shakilnali-180x180.jpg 180w, https://demos.appthemes.com/taskerr/files/2014/06/Home_Fresh_Organic_Concept_1_by_shakilnali-150x150.jpg 150w, https://demos.appthemes.com/taskerr/files/2014/06/Home_Fresh_Organic_Concept_1_by_shakilnali-60x60.jpg 60w" sizes="(max-width: 180px) 100vw, 180px" />	</a>
	
											<p class="featured-label">Featured</p>
					
					<div class="review-meta column centered">
							<span class="stars stars-5">
		<i class="genericon genericon-star good-star"></i><i class="genericon genericon-star good-star"></i><i class="genericon genericon-star good-star"></i><i class="genericon genericon-star good-star"></i><i class="genericon genericon-star good-star"></i>	</span>
						</div>
				</div>

				<div class="info large-9 medium-9 columns">
										<header>
						<h1><a href="taskerr/i-can-create-2-custom-logo-designs-for-your-business.html" rel="bookmark">
							<span class="featured">
								I can create 2 CUSTOM logo designs for your business							</span>
						</a></h1>
					</header>
					
										<div class="service-description">
						<p>We&#8217;ll make 2 logo designs for your website,company etc. The design will be created by professionals within 3 business days.   Why us? We are a group of 11 designers here, all professionals NO TEMPLATE!! We dont use it, we make your design from scratch. FREE revisions FREE source files Fast turn around time Contact Us [&hellip;]</p>
					</div>
									</div>

			</div>

			<!-- service meta author-->
			<div class="ft-bar row">
				<div class="post-meta service-author large-3 medium-3 small-6 columns">
					<i class="genericon genericon-user"></i>
					by					<a href="taskerr/author/meloniq/meloniq.html">meloniq <span class="author-posts-qty"><em class="separator">(</em>1<em class="separator">)</em></span></a>				</div>
				<div class="post-meta service-author-rating large-3 medium-3 small-6 columns">
					<i class="genericon genericon-star"></i>
					Rating:										<span>100%</span>
				</div>
				<div class="post-meta service-category large-3 medium-3 small-6 columns left">
					<i class="genericon genericon-category"></i>
					Category:					<a href="taskerr/services/category/logo-design/logo-design.html">Logo Design</a>				</div>

									<div class="post-meta service-tags large-3 medium-3 small-6 columns">
						<i class="genericon genericon-tag"></i>
						Tags:						<span><a href="taskerr/services/tag/design/design.html"><span class="tag">design</span></a><em class="separator">, </em><a href="taskerr/services/tag/graphics/graphics.html"><span class="tag">graphics</span></a><em class="separator">, </em><a href="taskerr/services/tag/logos/logos.html"><span class="tag">logos</span></a></span>
					</div>
				
			</div><!-- end row -->

			
		</div><!-- end 10-columns -->

		<div class="btn-bar large-2 medium-2 columns">

			<div class="price grey"><span>&#36;</span>29</div>
				<a href="taskerr/services/add-task/17/17.html" class="button success">
		<span>Buy</span>
	</a>
				<a class="fave-button listing-unfave-link button" href="https://demos.appthemes.com/taskerr?favorite=delete&amp;post_id=17&amp;ajax_nonce=f36f594c49" rel="nofollow"><i class="genericon genericon-unapprove"></i> <span>Delete Favorite</span></a>
		</div>

	</div><!-- end row -->
</article>

	<!-- stop -->

	<!-- pagination -->
	<div class="row">
		<div class="pagination-centered">
			<ul class="pagination"><li class="arrow unavailable prev"><span>&laquo;</span></li><li class="current"><span aria-current="page" class="page-numbers current">1</span></li><li><a class="page-numbers" href="taskerr/page/2/2.html">2</a></li><li class="arrow next"><a class="next page-numbers" href="taskerr/page/2/2.html">&raquo;</a></li></ul>			</div>
	</div>
	<!-- /pagination -->

	</section><!-- end #projects -->

</main><!-- end #main -->
{% endblock body %}
	{% block side %}
	<div id="sidebar" class="large-3 medium-4 columns" role="complementary">

		<div class="row">
			<aside id="appthemes_recent_posts-3" class="widget large-12 columns widget-recent-posts">
				<h1 class="widgettitle">Recent Services</h1>

				<ul>				
					<li class="recent-box post-96 service type-service status-publish has-post-thumbnail hentry service_cat-css-html service_cat-databases service_cat-javascript service_cat-joomla-drupal service_cat-php service_cat-programming-tech service_cat-wordpress-programming-tech service_tag-ajax service_tag-css service_tag-html service_tag-javascript-2 service_tag-jquery service_tag-mysql service_tag-php service_tag-web-development">

						<div class="recent-box-thumb left">
							<a href="#" title="I can write or fix PHP script , php code, website, web site, mysql, css, html, jquery" >
								<img width="60" height="60" src="taskerr/files/2014/08/brain-60x60.jpg" class="attachment-recent-posts-widget size-recent-posts-widget wp-post-image" alt="" loading="lazy" srcset="https://demos.appthemes.com/taskerr/files/2014/08/brain-60x60.jpg 60w, https://demos.appthemes.com/taskerr/files/2014/08/brain-150x150.jpg 150w, https://demos.appthemes.com/taskerr/files/2014/08/brain-180x180.jpg 180w" sizes="(max-width: 60px) 100vw, 60px" />	
							</a>
							<div class="recent-stars">
								<span class="stars stars-0">
									<i class="genericon genericon-star bad-star"></i><i class="genericon genericon-star bad-star"></i><i class="genericon genericon-star bad-star"></i><i class="genericon genericon-star bad-star"></i><i class="genericon genericon-star bad-star"></i>	
								</span>
							</div>
						</div><!-- end recent-box-thumb -->
						<div class="recent-box-content">
							<h2 class="recent-box-title">
								<a href="#" rel="bookmark" title="I can write or fix PHP script , php code, website, web site, mysql, css, html, jquery">I can write or fix PHP script , php code, website, web site, mysql, css, html, jquery</a>
							</h2>
							<span class="recent-post-date clearfix">
								by&nbsp;<a href="taskerr/author/afrolov/afrolov.html">Artem <span class="author-posts-qty"><em class="separator">(</em>3<em class="separator">)</em></span></a>&nbsp;on&nbsp;August 25, 2014						
							</span>
						</div>
					</li><!-- end recent-box -->
				</ul>
			</aside>
		</div>
		<div class="row">
			<aside id="tr_taxonomy_list-5" class="widget large-12 columns widget-taxonomy-list">
				<h1 class="widgettitle">Categories</h1>
					<a href="#" class="cat-down button"><i class="genericon genericon-expand"></i><span>Expand/Collapse</span></a>
					<div class="catcol">
						<ul class="maincat-list small-block-grid-1 medium-block-grid-1 large-block-grid-1">
						{% for heading in categories.keys() %}
							<li class="maincat cat-item-24">
								<a href="{{url_for('main.parent_category', parent_category = heading)}}" title="{{ heading }}" title="">{{ heading }}</a>
							</li>
						{% endfor %}
						</ul>
					</div>
					<!-- /catcol -->
			</aside>
		</div>
		<div class="row">
			<aside id="tr_125_ads-4" class="widget large-12 columns widget-125-ads">
				<h1 class="widgettitle">Sponsored Ads</h1>
				<ul class="ads">
					<li class="white-con"><a href="#" rel="nofollow" target="_self">
						<img src="../static/img/itechfor.png" width="125" height="125" alt="ITechFor" /></a>
					</li> 
					<li class="white-con">
						<a href="#" rel="nofollow" target="_self"><img src="../static/img/itechfor.png" width="125" height="125" alt="ITechFor" /></a>
					</li> 
					<li class="white-con">
						<a href="#" rel="nofollow" target="_self"><img src="../static/img/itechfor.png" width="125" height="125" alt="ITechFor" /></a>
					</li> 
					<li class="white-con">
						<a href="#" rel="nofollow" target="_self"><img src="../static/img/itechfor.png" width="125" height="125" alt="ITechFor" /></a>
					</li> 
				</ul>
			</aside>
		</div>
	</div><!-- end #sidebar -->

	{% endblock side %}
