<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en-US"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en-US"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en-US"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en-US"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US"> <!--<![endif]-->
<head>
	<meta charset="UTF-8" />

	<title>  Dashboard</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel='dns-prefetch' href='https://fonts.googleapis.com/' />
<link rel='dns-prefetch' href='https://s.w.org/' />
<link rel="alternate" type="application/rss+xml" title="Taskerr Demo &raquo; Feed" href="feed/feed.html" />
<link rel="alternate" type="application/rss+xml" title="Taskerr Demo &raquo; Comments Feed" href="comments/feed/feed.html" />
		<style type="text/css">
			img.wp-smiley,
			img.emoji {
				display: inline !important;
				border: none !important;
				box-shadow: none !important;
				height: 1em !important;
				width: 1em !important;
				margin: 0 .07em !important;
				vertical-align: -0.1em !important;
				background: none !important;
				padding: 0 !important;
			}
		</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='../static/css/style.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='googleFonts-css'  href='https://fonts.googleapis.com/css?family=Lato%3A300,400,700,900,400italic%7CNoto+Serif&amp;ver=1.3.4' type='text/css' media='all' />
<link rel='stylesheet' id='genericons-css'  href='../static/css/genericons.css' type='text/css' media='all' />
<link rel='stylesheet' id='tr-normalize-css'  href='../static/css/normalize.css' type='text/css' media='all' />
<link rel='stylesheet' id='tr-foundation-styles-css'  href='../static/css/foundation.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='tr-color-css'  href='../static/css/blue.css' type='text/css' media='all' />
<link rel='stylesheet' id='app-slider-style-css'  href='../static/css/slider.css' type='text/css' media='all' />
<link rel='stylesheet' id='appthemes_recent_posts-css'  href='../static/css/widget-recent-posts.css' type='text/css' media='all' />
<script type='text/javascript' src='../static/js/jquery/jquery.js' id='jquery-js'></script>
<script type='text/javascript' src='../static/js/modernizr.js' id='tr-modernizr-js'></script>
<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>	<style type="text/css" id="twentytwelve-header-css">
			.site-title,
		.site-description {
			position: absolute;
			clip: rect(1px 1px 1px 1px); /* IE7 */
			clip: rect(1px, 1px, 1px, 1px);
		}
		</style>

<link rel="icon" href="../static/img/favicon.png" sizes="32x32" />
<link rel="icon" href="../static/img/favicon.png" sizes="192x192" />
<link rel="apple-touch-icon" href="../static/img/favicon.png" />

<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" />

	</head>

<body class="page-template page-template-dashboard-service page-template-dashboard-service-php page page-id-7 page-parent logged-in custom-background tr-dashboard tr-dashboard-service no-js" itemscope itemtype="http://schema.org/WebPage">

	<script type="text/javascript">
		document.body.className = document.body.className.replace('no-js','js');
	</script>

	
	
	<!-- HEADER -->
	<header id="header" role="banner">
				<div class="row">
			<div class="large-10 large-centered columns">
							</div><!-- end columns -->
		</div><!-- end row -->

		<div class="row">
			<div class="large-12 columns">
				
		<div id="top-bar-1" class="top-bar" data-topbar>
  			<ul class="title-area">
				<!-- Title Area -->
				<li class="name">
					<ul class="social-bar left">
													<li>
								<a href="https://facebook.com/" title="Facebook">
									<i class="genericon genericon-facebook"></i>
									<span>Facebook</span>
								</a>
							</li>
													<li>
								<a href="https://twitter.com/" title="Twitter">
									<i class="genericon genericon-twitter"></i>
									<span>Twitter</span>
								</a>
							</li>
												<li>
							<a href="feed/feed_2.html" title="RSS">
								<i class="genericon genericon-feed"></i>
								<span>RSS</span>
							</a>
						</li>
					</ul>

				</li>
    			<li class="toggle-topbar menu-icon">
					<a href="dashboard.html#"><span>Menu</span></a>
				</li>
  			</ul>
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">

											<li>
							<a href="favorites.html" title="Favorites">
								<i class="genericon genericon-heart"></i>
								<span class="hide-for-medium-only">Favorites</span>
							</a>
						</li>
						<li class="inbox-btn has-dropdown unread-inbox-btn">
							<a href="dashboard/notifications/page/1/notifications.html" title="Notifications">
								<i class="genericon genericon-subscribed"></i>
								<span class="hide-for-medium-only">Notifications&nbsp;(<span class="unread-inbox">2</span>)</span>
							</a>
																				<ul id="notifications-dropdown" class="dropdown">
								<li class="dropdown-label"><label>Unread notifications</label></li>
																			<li><a class="notifications-node" href="dashboard/notifications/page/1/notifications.html#1-53f778fbc9091-1408727291">
												<span class="notification-date">
													August 22, 2014 5:08 pm												</span>
												&nbsp;&mdash;&nbsp;
												<span class="notification-message">
													Your review on - AppThemes - was sent to meloniq												</span>
										</a></li>
																			<li><a class="notifications-node" href="dashboard/notifications/page/1/notifications.html#1-53f77337c1b32-1408725815">
												<span class="notification-date">
													August 22, 2014 4:43 pm												</span>
												&nbsp;&mdash;&nbsp;
												<span class="notification-message">
													meloniq has marked task #6 - as Paid												</span>
										</a></li>
																	<li class="divider"></li>
								<li><a class="notifications-node" href="dashboard/notifications/page/1/notifications.html">See all &rarr;</a></li>
							</ul>
												</li>
						<li>
							<a href="edit-profile/edit-profile.html" title="Your Profile">
								<i class="genericon genericon-user"></i>
								<span class="hide-for-medium-only">Your Profile</span>
							</a>
						</li>
						<li>
							<a href="dashboard.html" title="Dashboard">
								<i class="genericon genericon-cog"></i>
								<span class="hide-for-medium-only">Dashboard</span>
							</a>
						</li>
						<li>
							<a href="#" title="Logout">
								<i class="genericon genericon-key"></i>
								<span class="hide-for-medium-only">Logout</span>
							</a>
						</li>

									</ul>
			</section>
		</div>			</div><!-- end columns -->
		</div><!-- end row -->

		<div class="row">
			<div class="large-12 columns site-header">
				<div class="clearfix">
					<h1 class="site-title left"><a href="page/1/taskerr.html" title="Taskerr Demo" rel="home">Taskerr Demo</a></h1>
					<h2 class="site-description right">Just another AppThemes Demos Sites site</h2>
				</div>

									<a class="site-logo" href="page/1/taskerr.html">
						<img src="../static/img/logo-red-clock.png" class="header-image" width="151" height="27" alt="" />
					</a>
				
						<nav id="top-bar-2" class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name"></li>
				<li class="toggle-topbar menu-icon">
					<a href="dashboard.html#">
						<span>Navigation</span>
					</a>

			</ul>

			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<li class="has-form">
						<div class="row collapse">
							<div class="search-bar large-12 columns">
										<form role="search" method="get" id="searchform" class="searchform" action="page/1/taskerr.html">
			<div class="right">
				<button value="Search" type="submit" title="Search">
					<i class="genericon genericon-search"></i>
					<span>Search</span>
				</button>
			</div>
			<div class="search-input">
				<input type="text" id="s" name="s" placeholder="Search" value="" />
			</div>
		</form>							</div>
						</div>
					</li>
				</ul>

				<!-- Left Nav Section -->
				<ul id="menu-header" class="left"><li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="add-service.html">Add Service</a></li>
<li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="how-things-work.html">How Things Work</a></li>
<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="blog/blog.html">Blog</a></li>
</ul>
			</section>
		</nav>			</div><!-- end columns -->
		</div><!-- end row -->	
	</header><!-- /HEADER -->

	
	<!-- WIDGETIZED AREA -->
	<div id="top-widgets" role="complementary">
	<!-- widgetized area below navbar -->
	{% block widget %}

	{% endblock widget %}
	</div><!-- /WIDGETIZED AREA -->

	<!-- CONTENT -->
	<div id="content">
		<div class="archive-row row">
        {% include 'includes/_messages.html' %}
        {% block body %}

        {% endblock %}
        {% block test %}
        <p>How you dey</p>
        {% endblock %}
	<!-- Begin side bar -->

	<!-- <div id="sidebar" class="large-3 medium-4 columns dashboard-side" role="complementary">

		<div class="row">
	<div id="tr_account_bage" class="widget static-widget widget-account-bage large-12 columns">
		<div class="clearfix">
			<div class="medium-text-center user-avatar">
				<img alt='' src='https://secure.gravatar.com/avatar/1272959116d5e4ed40d51708d236825f?s=200&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/1272959116d5e4ed40d51708d236825f?s=400&#038;d=mm&#038;r=g 2x' class='avatar avatar-200 photo' height='200' width='200' loading='lazy'/>			</div>

			<h3>
				Welcome,
				AppThemes			</h3>

			<p>Manage your services or edit your profile from your personalized dashboard.</p>

			<div class="row collapse" data-equalizer>
				<div class="small-6 columns edit-profile">
					<a class="button alert" href="edit-profile/edit-profile.html" data-equalizer-watch>
						Edit profile					</a>
				</div>
				<div class="small-6 columns add-service">
					<a class="button secondary" href="add-service.html" data-equalizer-watch>
						Add a service					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div id="tr_dashboard_links" class="widget static-widget widget-dashboard-links large-12 columns">
		<div class="clearfix">
			<ul>
				<li class="page_item page-item-7 page_item_has_children current_page_item"><a href="dashboard.html" aria-current="page">Dashboard</a>
<ul class='children'>
	<li class="page_item page-item-11"><a href="favorites.html">Favorites</a></li>
	<li class="page_item page-item-12"><a href="dashboard/notifications/page/1/notifications.html">Notifications</a></li>
	<li class="page_item page-item-8"><a href="purchased.html">Purchased</a></li>
	<li class="page_item page-item-10"><a href="reviews.html">Reviews</a></li>
	<li class="page_item page-item-9"><a href="tasks.html">Tasks</a></li>
</ul>
</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<aside id="tr_account_stats" class="widget static-widget widget-account-stats large-12 columns">
		<header>
			<h1>
				Statistics			</h1>
		</header>
		<div class="clearfix">
			<ul>
				<li>
					<span class="left">Rating</span>
					<strong class="right">90%</strong>
				</li>
				<li>
					<span class="left">Current Tasks</span>
					<strong class="right">1</strong>
				</li>
				<li>
					<span class="left">Tasks completed</span>
					<strong class="right">1</strong>
				</li>
				<li>
					<span class="left">Services purchased</span>
					<strong class="right">3</strong>
				</li>
				<li>
					<span class="left">Total earnings</span>
					<strong class="right">&#36;28.00</strong>
				</li>
				<li>
					<span class="left">Reviews received</span>
					<strong class="right">2</strong>
				</li>
				<li>
					<span class="left">Reviews made</span>
					<strong class="right">2</strong>
				</li>
			</ul>
		</div>
	</aside>
</div>

<div class="row">
	<aside id="tr_account_info" class="widget static-widget widget-account-info large-12 columns">
		<header>
			<h1>
				Account Info			</h1>
		</header>
		<div class="clearfix">
										<ul>
									<li>
						<a href="https://facebook.com/" title="Facebook">
							<i class="genericon genericon-facebook"></i>
							<span>
								appthemes							</span>
						</a>
					</li>
									<li>
						<a href="https://twitter.com/" title="Twitter">
							<i class="genericon genericon-twitter"></i>
							<span>
								@appthemes							</span>
						</a>
					</li>
													<li>
						<a href="../www_appthemes_default_2.html" title="Website">
							<i class="genericon genericon-link"></i>
							<span>www.appthemes.com</span>
						</a>
					</li>
								</ul>
					</div>
	</aside>
</div>


	</div> -->
	<!-- End side -->
</div><!-- end row -->	
</div><!-- /CONTENT -->

	
	<!-- FOOTER -->
	<footer id="footer" role="contentinfo">
				<!-- Footer Widgets -->
				<div class="row widgets-footer">
			<div class="large-12 columns">
				<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4">
					<li id="text-11" class="widget widget_text"><aside><h2 class="widgettitle">About Taskerr</h2>
			<div class="textwidget"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
		</aside></li><li id="pages-2" class="widget widget_pages"><aside><h2 class="widgettitle">Navigation</h2>

			<ul>
				<li class="page_item page-item-4"><a href="blog/blog.html">Blog</a></li>
<li class="page_item page-item-7 current_page_item"><a href="dashboard.html" aria-current="page">Dashboard</a></li>
<li class="page_item page-item-5"><a href="edit-profile/edit-profile.html">Edit Profile</a></li>
<li class="page_item page-item-18"><a href="how-things-work.html">How Things Work</a></li>
			</ul>

			</aside></li>
		<li id="recent-posts-5" class="widget widget_recent_entries"><aside>
		<h2 class="widgettitle">Recent Posts</h2>

		<ul>
											<li>
					<a href="image-alignment.html">Image Alignment</a>
											<span class="post-date">August 22, 2014</span>
									</li>
											<li>
					<a href="html-tags-and-formatting.html">Formatting</a>
											<span class="post-date">August 22, 2014</span>
									</li>
											<li>
					<a href="lorem-ipsum.html">Lorem Ipsum</a>
											<span class="post-date">August 22, 2014</span>
									</li>
											<li>
					<a href="hello-world.html">Hello world!</a>
											<span class="post-date">June 7, 2014</span>
									</li>
					</ul>

		</aside></li><li id="rss-2" class="widget widget_rss"><aside><h2 class="widgettitle"><a class="rsswidget" href="https://feeds.feedburner.com/AppThemes/"><img class="rss-widget-icon" style="border:0" width="14" height="14" src="../static/img/rss.png" alt="RSS" /></a> <a class="rsswidget" href="../www_appthemes_default_2.html">RSS</a></h2>
<ul><li><a class='rsswidget' href='http://feedproxy.google.com/~r/appthemes/~3/BQw0N2RARv4/'>Introducing ClassiPress Version 4.2.0</a></li><li><a class='rsswidget' href='http://feedproxy.google.com/~r/appthemes/~3/76Ck7sj5fxo/'>Show Casing Market Stalls for an Event Using Vantage</a></li><li><a class='rsswidget' href='http://feedproxy.google.com/~r/appthemes/~3/XLSkwFd4wNE/'>JobRoller Version 1.9.1</a></li></ul></aside></li>				</ul>
			</div>
		</div>
		<!-- End footer Widgets -->
		
		  <!-- Footer -->
		<div class="row">
			<div class="large-12 columns">
				<p class="copy"><a href="../themes/taskerr/taskerr.html" target="_blank" rel="nofollow">Taskerr Theme</a> - Powered by <a href="https://wordpress.org/" target="_blank" rel="nofollow">WordPress</a></p>
			</div>
		</div>
	</footer><!-- /FOOTER -->

	
	
<script type='text/javascript' src='../static/js/fastclick.js' id='tr-fastclick-js'></script>
<script type='text/javascript' src='../static/js/foundation.min.js' id='tr-foundation-scripts-js'></script>
<script type='text/javascript' src='../static/js/dashboard.js' id='tr-dashboard-js'></script>
<script type='text/javascript' src='../static/js/scripts.js' id='main-js'></script>
<script type='text/javascript' src='../static/js/wp-embed.min.js' id='wp-embed-js'></script>

		<script>
		jQuery(document).foundation({topbar: {stickyClass: 'sticky-top-bar'}});
	</script>

</body>
</html>
